html{
    height: -webkit-fill-available;
    overflow-x: hidden;
    max-width: 100%;
}
.startscreen {
    z-index: 10;
    background-color: black;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
}

.next {
    background: transparent;
    color: white;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
}

.next:hover{
    cursor: pointer;
}

.home{
    display: none;
    
}



body {
  height: 100vh;
  height: -webkit-fill-available;

  min-width: 100%;
  min-height: 100%;
  position: fixed;

  background-color: #000;
}

header {
    position: absolute;
    z-index: 9;
    


    display: flex;

    justify-content: space-between;

    border-radius: 0 0 20px 10000px;
    margin: 0 auto;
}

nav ul {
    background-color: transparent;
    top: 60%;
    list-style: none;
    display: flex;
}
nav ul li a {
    background-color: transparent;
    top: 60%;
    text-decoration: none;
    color: #ffffff;
    display: block;
    margin: 0 2px;
    font-weight: 400;
    padding: 8px 18px;
    transition: 0.2s;
    


}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
nav ul li a::after{
    content: '';
    height:3px;
    width:0%;
    background:#cd98ff;
    position:absolute;
    left:0;
    bottom:-10px;
    transition:0.2s;
}

nav ul li a:hover::after {
    width: 100%;

}
nav ul li a.active {
    color: #fff;
    font-weight: bold;
}

.hamburger {
    position: absolute;
    left: 95%;
    top: 25%;
    display: none;
    height: fit-content;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    transition: 0.2s;
}
.hamburger:hover {
    background: #ffffff;
}
.hamburger .line {
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: #212526;
}
@media only screen and (max-width: 500px) {
    header {
        width: 90%;
        padding: 0 20px;
    }
    nav {
        position: absolute;
        left: -300px;
        top: 0;
        z-index: 999;
        width: 280px;
        height: 100vh;
        background-color: transparent;
        transition: 0.2s;
        box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.05);
    }
    #nav_check:checked ~ nav {
        left: 0;
    }
   
    
    nav ul {
        display: block;
        padding: 0 20px;
        margin-top: 30px;
    }
    nav ul li a {
        margin-bottom: 5px;
        padding: 15px;
        border-radius: 5px;
    }
    .hamburger {
        display: block;
    }

}



    


.containers{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75));

    z-index: 8;
}

.Paragraph {
    font-family: consolas, sans-serif;
    font-size: 16px;
    max-width: 60%;
    margin: 0 auto;
    text-align: center!important;
    color: #fff;
    font-size: 2em;
}

.Hello {
    padding-top: 200px;
}

.a {
    text-align: center;

}
#Bruh {
    margin-left: 0.65pc;
    font-size: 1em;
}
.backround{
    position: absolute;

    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    zoom: 55%;
}
.icons{

    position: absolute;
    top: 0%; 
    right: 1%;

    margin: 30px 0px ;
    padding: 0px 0;
    display: flex;

    
    justify-content: space-between;
    z-index: 5;
    list-style: none;
    
}
.icons ul li{
    list-style: none;
    margin: 30px 0;

}
.icons ul svg  {

    list-style: none;
    

    position: relative;
    background-color: transparent;
    border-radius: 20%;
    box-shadow: 0 5px 4px rgba(0,0,0,0.5);
    transition: 0.4s;

}

.icons ul svg:hover{
    background-color: #cd98ff;
    transform:  translate(0, -3px);
}
@media only screen and (max-width: 500px) {
    .icons ul li{
        display: inline-block;
        margin: 0px 10px;

    }
    .icons{
        position: absolute;
        left: 0%;
        top: 90%;
        width: 100%;
    }
    .backround{
        zoom: 40%;
    }

}
